<div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
    <h2>ویرایش کاربر</h2>
</div>
<form class="form-horizontal" action="/admin/users/update/<%= user._id %>?_method=put" method="post">
    <%- csrf_filed() %>
    <div class="form-group row">
        <div class="col">
            <label for="fullName" class="control-label font-weight-bold">نام کاربر </label>
            <input type="text" class="form-control <% if (errors('fullName')){ %> is-invalid <% } %>" name="fullName"
                   id="fullName" placeholder="نام کاربری"
                   value="<%= old('fullName', user.name) %>">
            <% if (errors('fullName')){ %>
                <span class="invalid-feedback"><%= errors('fullName') %> </span>
            <% } %>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label for="email" class="control-label font-weight-bold">ایمیل </label>
            <input type="email" class="form-control <% if (errors('email')){ %> is-invalid <% } %>" name="email"
                   id="email" placeholder="نام کاربری"
                   value="<%= old('email', user.email) %>">
            <% if (errors('email')){ %>
                <span class="invalid-feedback"><%= errors('email') %> </span>
            <% } %>
        </div>
    </div>
    <div class="form-group row">

        <div class="col">
            <label for="admin" class="control-label font-weight-bold font-weight-bold">نوع کاربر</label>
            <select name="admin" id="admin" class="form-control  <% if (errors('admin')){ %> is-invalid <% } %>">
                <option value="false" <%= old('admin', user.admin) ? 'selected' : '' %> >کاربر معمولی</option>
                <option value="true" <%= old('admin', user.admin) ? 'selected' : '' %> >ادمین</option>
            </select>
            <% if (errors('admin')){ %>
                <span class="invalid-feedback"><%= errors('admin') %> </span>
            <% } %>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-warning">ویرایش</button>
        </div>
    </div>
</form>