<div class="container">
    <div class="row pt-3 justify-content-center">
        <div class="col-8">
            <div class="card card-defult">
                <div class="card">
                    <div class="card-header">
                        <h5>بازیابی رمز عبور </h5>
                    </div>
                    <div class="card-body">
                        <% if (errors('fieldforget')){ %>
                            <div class="alert alert-danger">
                                <%- errors('fieldReset') %>
                            </div>
                            <% } %>
                        <form action="/auth/password/email" method="post" class="form-horizontal">
                            <%- csrf_filed() %>
                            <div class="form-group">
                                <label for="email">ایمیل</label>
                                <input id="email" class="form-control <% if(errors('email')){%> is-invalid <% }%>"
                                    value="<%- old('email') %>" placeholder="ایمیل خود را وارد کنید" type="email"
                                    name="email">
                                    <% if (errors('email')){ %>
                                        <span class="invalid-feedback">
                                            <%- errors('email') %>
                                        </span>
                                    <% } %>
                            </div>
                            <div class="form-group">
                                <%- recaptcha %>
                                <% if (errors('recaptcha')){ %>
                                    <span class="text-sm-right text-danger">
                                    <%- errors('recaptcha') %>
                                    </span>
                                <% } %>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    بازیابی اطلاعات
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>