<div class="container">
    <div class="row pt-3 justify-content-center">
        <div class="col-8">
            <div class="card card-defult">
                <div class="card">
                    <div class="card-header">
                        <h5>به روز رسانی رمز عبور</h5>
                    </div>
                    <div class="card-body">
                        <% if (errors('fieldReset')){ %>
                            <div class="alert alert-danger">
                                <%- errors('fieldReset') %>
                            </div>
                        <% } %>
                        <form action="/auth/password/reset" method="post" class="form-horizontal">
                            <%- csrf_filed() %>
                            <input type="hidden" name="token" value="<%= token %>">
                            <div class="form-group">
                                <label for="email">ایمیل</label>
                                <input id="email"
                                       class="form-control <% if (errors('email')){ %> is-invalid <% } %>"
                                       value="<%- old('email') %>" placeholder="ایمیل خود را وارد کنید"
                                       type="email" name="email">
                                <% if (errors('email')){ %>
                                    <span class="invalid-feedback">
                                                <%- errors('email') %>
                                            </span>
                                <% } %>
                            </div>
                            <div class="form-group">
                                <label for="password">رمز عبور</label>
                                <input id="password"
                                       class="form-control  <% if (errors('password')){ %> is-invalid <% } %>"
                                       type="password" name="password" placeholder="رمز عبور">
                                <% if (errors('password')){ %>
                                    <span class="invalid-feedback">
                                                <%- errors('password') %>
                                            </span>
                                <% } %>
                            </div>
                            <div class="form-group">
                                <label for="confrimPassword">تکرار رمز عبور</label>
                                <input type="password"
                                       class="form-control  <% if (errors('confrimPassword')){ %> is-invalid <% } %>"
                                       name="confrimPassword" id="confrimPassword" placeholder="تکرار رمز عبور">
                                <% if (errors('confrimPassword')){ %>
                                    <span class="invalid-feedback">
                                                <%- errors('confrimPassword') %>
                                            </span>
                                <% } %>
                            </div>
                            <div class="form-group">
                                <%- recaptcha %>
                                <% if (errors('recaptcha')){ %>
                                    <span class="text-sm-right text-danger">
                                                    <%- errors('recaptcha') %>
                                                </span>
                                <% } %>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    به روز رسانی رمز عبور
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>