<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
    <h2>دسترسی ها</h2>
    <div class="btn-group">
        <% if (can('create-permission')){ %>
            <a href="/admin/permission/create" class="btn btn-sm btn-primary">ایجاد دسترسی جدید</a>
        <%}%>
        <% if (can('show-role')){ %>
            <a href="/admin/role" class="btn btn-sm btn-info">بخش مقام ها</a>
        <%}%>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>نام دسترسی</th>
                <th>توضیحات دسترسی</th>
                <th>تنظیمات</th>
            </tr>
        </thead>
        <tbody>
            <% permissions.docs.map(permission=> { %>
                <tr>
                    <td>
                        <%= permission.name %>
                    </td>
                    <td>
                        <%= permission.label %>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <%if (can('update-permission')){%>
                                <a href="/admin/permission/<%- permission._id %>/edit" class="btn btn-primary">ویرایش</a>
                            <%}%>
                            <%if (can('destroy-permission')){%>
                                <button data-toggle="modal" data-premissionid="<%= permission._id %>"
                                    data-target="#deletePermission" class="btn btn-danger">حذف
                                </button>
                            <%}%>
                        </div>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>


    <%- include(viewPath('layouts/pagination'),{pagination:permissions}) %>

        <div class="modal fade" id="deletePermission" tabindex="-1" role="dialog" aria-labelledby="deleteCourseLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" style="color: red" id="exampleModalLabel">حذف</h5>
                        <div class="float-left">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <form action="/admin/permission/delete/1dw53ada51dawdad123dwadawdas?_method=DELETE" method="post">
                        <%- csrf_filed() %>
                        <div class="modal-body">
                            <input type="hidden" name="permission_id" id="permission_id" value="">
                            آیا از حذف دسترسی مورد نظر مطمعن هستید؟
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">بستن</button>
                            <button type="submit" class="btn btn-danger mr-2">بله</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <script>
            $('#deletePermission').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget);
                let permission_id = button.data('premissionid');
                let modal = $(this);
                modal.find('.modal-body #permission_id').val(permission_id);
            })
        </script>
</div>